#root {
  min-height: 100vh;
  background-color: #282c34;
}
header {
  /* min-height: 20vh; */
}
main {
  color: white;
  text-align: center;
  min-height: 100vh;
}
footer {
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-link {
  color: #61dafb;
}

.selected {
  background-color: green !important;
}

#comment-area {
  position: sticky;
  top: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
